<div class="signup-container">
  <div class="signup-logo-holder">
    <div class="signup-logo">
      <%= image_tag "Swan.png", class: "small-swan" %>
      <h1 class="text-center grey signup-title">Sign Up</h1>
    </div>
  </div>
  <div class="signup-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, label: false, placeholder: "First Name", autofocus: true,input_html: { class: "login-form" } %>
        <%= f.input :last_name, label: false, placeholder: "Last Name" %>
        <%= f.input :email,
                    required: true,
                    label: false,
                    placeholder: "Email",
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: "Password",
                    # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: "Confirm password",
                    input_html: { autocomplete: "new-password" } %>
        <fieldset class="form-group boolean optional user_accepts_terms">
          <div class="form-check switch">
            <label class="form-check-label boolean optional terms-flex full-screen-width">
              <input name="user[accepts_terms]" type="hidden" value="0">
              <input class="form-check-input boolean optional" type="checkbox" value="1" name="user[accepts_terms]" id="user_accepts_terms">
              <span class="slider round"></span>
              <p class="grey tiny-text half-screen-width">I have read and understood the <a href="/privacy-policy" class="grey underline privacy-link">privacy policy</a></p>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="form-actions">
        <input type="submit" name="commit" value="Sign Up" class="btn silver-swan-button signup-ss-button" data-disable-with="Sign Up">
      </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
