<h1>CANDIDATE INDEX</h1>

<%= simple_form_for :search, url: admin_candidates_path, method: :get do |f| %>
  <%= f.input :gender, collection: %w[Male Female Other], selected: params[:search].present? ? params[:search][:gender] : '', include_blank: true, label: 'Gender', required: false %>
  <%= f.input :location, label: 'Current location', collection: User.where(admin: false).map(&:country_name).uniq.sort!, required: false %>
  <div style="display: flex; justify-content: space-around;">
    <%= f.input :age_lower_limit, input_html: {'data-value': params[:search].present? ? params[:search][:age_lower_limit] : 18}, required: false %>
    <%= f.input :age_upper_limit, input_html: {'data-value': params[:search].present? ? params[:search][:age_upper_limit] : 70}, required: false  %>
  </div>
  <%= f.input :languages, collection: (FluentLanguage.all + ConversationalLanguage.all).map(&:language).uniq.sort!, selected: params[:search].present? ? params[:search][:languages] : '', input_html: { multiple: true , required: false} %>
  <div id="age-slider" style="margin: 0 30px 30px 30px;"></div>
  <%= f.input :experience, collection: ['Less than a year', '1-3', '3-5', '5+'], selected: params[:search].present? ? params[:search][:experience] : '', include_blank: true, required: false %>
  <%= f.submit 'Search' %>
<% end %>


<% @candidates.each do |candidate| %>
  <div style="display: flex; justify-content: space-between">
    <p><%= candidate.full_name %></p>
    <p><%= candidate.email %></p>
    <p>Approved: <%= candidate.approved %></p>
    <p><%= candidate.country_name %></p>
  </div>
<% end %>
