<div class="navbar navbar-expand-sm navbar-light navbar-silver-swan">
  <%= link_to "#", class: "filter-link" do %>
    <%= image_tag "filters.png" %>
  <% end %>
  <%= link_to root_path, class: "swan-link" do %>
    <%= image_tag "Swan.png" %>
  <% end %>
  <div class="dropdown">
    <%= image_tag "burger.png", id:"dropdownMenuTrigger" %>
    <ul id="dropdown-menu" class="navbar-dropdown" >
      <li class="dropdown-option">
        <a class="grey" href="#">My Jobs</a>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <li class="dropdown-option">
        <a class="grey" href="#">My Profile</a>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <li class="dropdown-option">
        <a class="grey" href="#">Support</a>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <li class="dropdown-option">
        <a class="grey" href="#">Privacy Policy</a>
      </li>
    </ul>
  </div>
</div>

<script>
  var dropdownTrigger = document.getElementById('dropdownMenuTrigger')
  var dropdownMenu = document.getElementById('dropdown-menu')
  dropdownTrigger.addEventListener('click', function() {
    dropdownMenu.classList.toggle('show')
  })
</script>
