<div class="navbar navbar-expand-sm navbar-light navbar-silver-swan">
  <%= link_to "#", class: "navbar-link" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-link" do %>
    <%= image_tag "Swan.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-link" do %>
    <%= image_tag "logo.png" %>
  <% end %>
</div>
