<div class="navbar navbar-expand-sm navbar-light navbar-silver-swan">
  <%= link_to "#", class: "filter-link" do %>
    <%= image_tag "filters.png" %>
  <% end %>
  <%= link_to root_path, class: "swan-link" do %>
    <%= image_tag "Swan.png" %>
  <% end %>
  <div class="dropdown">
    <%= image_tag "burger.png", id:"dropdownMenuTrigger" %>
    <ul id="dropdown-menu" class="navbar-dropdown" >
      <li class="dropdown-option">
        <a class="grey" href="#">My Jobs</a>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <li class="dropdown-option">
        <%= link_to 'My Profile', edit_user_registration_path, class: 'grey' %>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <li class="dropdown-option">
        <%= link_to 'Support', support_path, class: 'grey' %>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <li class="dropdown-option">
        <%= link_to 'Privacy Policy', privacy_policy_path, class: 'grey' %>
      </li>
      <div class="navbar-dropdown-divider"></div>
      <% if current_user %>
        <li class="dropdown-option">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'grey' %>
        </li>
      <% else %>
        <li class="dropdown-option">
          <%= link_to 'Login', new_user_session_path, class: 'grey' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  var dropdownTrigger = document.getElementById('dropdownMenuTrigger')
  var dropdownMenu = document.getElementById('dropdown-menu')
  dropdownTrigger.addEventListener('click', function() {
    dropdownMenu.classList.toggle('show')
  })
</script>
