<div class="navbar navbar-expand-sm navbar-light navbar-silver-swan">
  <%= link_to "#", class: "navbar-link" do %>
    <%= image_tag "filters.png" %>
  <% end %>
  <%= link_to root_path, class: "navbar-link" do %>
    <%= image_tag "Swan.png" %>
  <% end %>
  <div class="dropdown">
    <%= image_tag "burger.png", id:"dropdownMenuTrigger" %>
    <div id="dropdown-menu" class="dropdown-menu" >
      <a class="dropdown-item" href="#">My Jobs</a>
      <a class="dropdown-item" href="#">My Profile</a>
      <a class="dropdown-item" href="#">Support</a>
      <a class="dropdown-item" href="#">Privacy Policy</a>
    </div>
  </div>
</div>

<script>
  var dropdownTrigger = document.getElementById('dropdownMenuTrigger')
  var dropdownMenu = document.getElementById('dropdown-menu')
  dropdownTrigger.addEventListener('click', function() {
    dropdownMenu.classList.toggle('show')
  })
</script>
